<html>
<head>
  <title>nmartinet.github.io</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="<%- root %>stylesheets/main.css">
</head>

<body>
  <div id="outlet"><div><%- outlet %></div></div>
  

  <script type="text/javascript" src="<%- root %>bundle.js"></script>

</body>
</html>

