@charset "utf-8";
@import "_reset.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:400+600|Ultra');
//Constansts
  $color1: rgba(246, 131, 111, 1);
  $color2: rgba(234, 199, 97, 1);
  $color3: rgba(255, 255, 229, 1);
  $color4: rgba(145, 192, 158, 1);
  $color5: rgba(125, 119, 105, 1);

  $c-bg: $color3;
  $c-bg-alt: $color1;

  $font-fam-main: 'Raleway';
  $font-fam-head: 'Ultra';

  $c-font: $color5;
  $c-font-alt: ;
  $c-font-head: $color1;

  $c-link: #03f;
  $c-link-alt: #69f;


  $break-small: 320px;
  $break-large: 1200px;
  
body, html {
  font-size: 1em;
  font-family: $font-fam-main;
  background-color: $c-bg;
}

body, select, input, textarea {
  color: $c-font;
}

a {
  color:  $c-link;

  &:hover {
    color: $c-link-alt;
  }

  &:link {
    -webkit-tap-highlight-color: $c-link-alt;
  }
}

h1, h2, h3 {
  font-family: $font-fam-head;
  color:  $c-font-head;
  -webkit-text-stroke: 1px $color5; 
}

html {
  border: 10px solid $c-bg-alt; 
  padding: 1px;
}

body {
  border: 5px solid $c-bg-alt; 
}

.container {
  width: 960px;
  margin: 0 auto;

  @media screen and (max-width: 960px) {
    width: auto;
    margin: 0 20px;
  }
}


#page-header {
  padding: 20px 20px 0 0;
  font-size: 4em;
  font-weight: 900;
  text-align: right;
  border-bottom: 10px double $color1;
  margin-bottom: 20px;
  
  color: $color1;
  text-decoration: none;
  -webkit-text-stroke: 2px $color5;

  text-shadow:
  -2px -2px 0 rgba($color1, 0.9),  
  -4px -4px 0 rgba($color2, 0.9),
  -6px -6px 0 rgba($color3, 0.9),
  -8px -8px 0 rgba($color4, 0.9),
  -10px -10px 0 rgba($color5, 0.9);

}

section {
  & > header {
    font-size: 2em;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      flex-grow: 5;
      border-top: 26px solid rgba(0, 0, 0, 0);
      border-bottom: 25px solid rgba(0, 0, 0, 0);
      border-left: 26px solid $c-bg-alt;
    }

    &:before{
      content: "";
      flex-grow: 1;
      border-top: 26px solid $color1;
      border-bottom: 25px solid $color1;
    }

    h2 {
      background-color:  $c-bg-alt;
      color: $color3;
      padding: 5px 20px 5px 0; 
    }

  }
  padding-bottom: 20px;
}


#intro {
  border: 5px solid $color1;
  background-color: rgba($color1, 0.1);
  padding: 40px 40px;
  font-size: 1.65em;
  line-height: 1.75em;
  text-align: justify;
}

#projects-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .project {
    border: 5px solid $c-bg-alt;
    
    margin-bottom: 25px;
    box-shadow:
    3px 3px 3px rgba($color5, 0.5);

    padding: 2px;

    background-color: $color3;
    width: 100%;

    .content{

      background-color: $color3;
      border: 5px solid $c-bg-alt; 

      header {        
        background-color: $c-bg-alt;
        padding-top: 10px;

        h3 {
          font-size: 3em;
          font-weight: 100;
          color: $color3;
          margin: -10px 7px 0 7px;
                    color: $color1;
          -webkit-text-stroke: 2px $color3;
        }

        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
 
        &:before, &:after {
          content: "";
          padding-top: 2px;
          flex-grow: 1;
          border-top: 5px double $color3;
          border-bottom: 5px double $color3;
          margin: 0 -5px; 
        }

        &:after {
          flex-grow: 10;
        }
      }

      div {
        margin: 20px;
        font-size: 1.5em;
        
        p {
          padding-bottom: 10px;
        }

        ul {
          padding-left: 40px;
          li:before {
              content: "⬣";
              margin-right: 10px;
              color: $color1; 
          }
        }
      }

      .link {
        background-color: $color1;
        margin: 0;
        padding: 5px 20px 10px 20px;
        color: $color3;
        text-align: right;

        a {
          font-size: 1.25em;
          font-weight: 600;
          letter-spacing: 0.20em;
          text-decoration: none;
          text-transform: uppercase;
          font-family: $font-fam-head;
          color: $color1;
          -webkit-text-stroke: 1px $color3;
          text-shadow: -2px -2px 0 $color5;

            &:hover {
              color: $color2;
            }

            &:link {
              -webkit-tap-highlight-color: $c-link-alt;
            }

        }

      }
    }
  }

  @media screen and (max-width: 450px){
    flex-direction: column;
    .project {
      width: auto;
    }
  }



}


